.auth_main {
  //border: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/image/images/auth_bg.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  .form {
    position:absolute;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.5);
    h2 {
      margin: 0;
      padding: 0 0 20px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    .form_input {
      position: relative;
      //border: 1px solid red;
      input {
        width: 100%;
        margin-bottom: 20px;
      }
      input[type=text], input[type=password] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
      }
      .eye {
        position: absolute;
        top: 35%;
        right: 10%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        fill: rgba(255,255,255, 0.5);
        &:hover {
          fill: rgba(255,255,255, 1);
        }
      }
      .input_clear {
        fill: #fff;
        position: absolute;
        top: 35%;
        right: 0%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        fill: rgba(255,255,255, 0.5);
        &:hover {
          fill: rgba(255,255,255, 1);
        }
      }


    }

    button {
      margin-bottom: 20px;
      width: 100%;
      height: 30px;
      color: #fff;
      font-size: 15px;
      background: rgba(224, 221, 221, 0.57);
      cursor: pointer;
      border-radius: 25px;
      border: none;
      outline: none;
      //margin-top: 15%;
      &:hover {
        background: red;
      }
    }
    .preloader {
      //border: 1px solid red;
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
    }


  }
}