.element {
  border: 1px solid var(--btn-borders);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 45px;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
  .text {
    width: 80%;
    //border: 1px solid red;

  }
  label {
    color: var(--cr-text-dark-bg);
  }
  svg {
    fill: var(--cr-text-disabled);
    cursor: pointer;
    &:hover {
      fill: var(--cr-text-dark-bg);
    }
  }
}