:root {
  --bg-main: #1B2A32;
  --bg-forms: #17242B;
  --modal-borders: #0F171C;
  --bg-modal: #22343C; /*modals, cards, dropdown menus*/
  --btn-borders: #566572;
  --bg-btn: #324F61;
  --bg-hover: #29414E;

  --cr-text-h1: #E9ECEF;
  --cr-text-h5: #ADBBC4;
  --cr-text-disabled: #8F9BA3;
  --cr-text-dark-bg: #fff;
  --cr-text-light-bg: #000;

  --btn-action-green: #60B515;
  --btn-action-green-hover: #85C81A;
  --btn-action-red: #F54F47;
  --btn-action-red-hover: #FF6F5F;
}
